<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
    <meta name="author" content="Runoob">
    <meta http-equiv="refresh" content="30">
    <title>JS test page</title>

    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css">

</head>
<body>
<h1>this is a header</h1>
<!--alt属性，如果无法加载图片就显示该属性-->
<p>创建图片链接:
    <a href="//www.runoob.com/html/html-tutorial.html">
        <img border="10" src="smiley.gif" alt="HTML 教程" width="32" height="32"></a></p>

<p>无边框的图片链接:
    <a href="//www.runoob.com/html/html-tutorial.html">
        <img border="0" src="smiley.gif" alt="HTML 教程" width="32" height="32"></a></p>
</body>
<!--target=’_top‘跳出框架-->
<a href="//www.runoob.com/" target="_top"><big>target=top!</big></a>
<br/>
<!--target=’_blank‘跳出框架-->
<a href="//www.runoob.com/" target="_blank"><big>target=blank!</big></a>

<!--mailto电子邮件链接-->
<p>
    这是一个复杂的电子邮件链接：
    <a href="mailto:someone@example.com?cc=someoneelse@example.com&bcc=andsomeoneelse@example.com&subject=Summer%20Party&body=You%20are%20invited%20to%20a%20big%20summer%20party!"
       target="_top">发送邮件!</a>
</p>

<p>
    <b>注意:</b> 单词之间空格使用 %20 代替，以确保浏览器可以正常显示文本。
</p>

<!--style=“text-decoration：none”无下划线链接-->
<a href="//www.runoob.com/" style="text-decoration:none;">访问 runoob.com!</a>

</html>